<div class="single-post">
<h2><strong>Single User Post:</strong></h2>
 
<p>
  <strong>Caption:</strong>
  <%= @picture.caption %>
</p>

<p>
  <strong>Image:</strong>
  <%= @picture.image %>
</p> 

<%# image_tag(@picture.image.url, class: "post-img", alt: 'Photo') %>

